[Unit]
Wants=network.target
After=network.target

[Service]
Type=simple
EnvironmentFile=-/etc/default/fileshovel
ExecStart=/bin/sh -c '[ -s "$FILESHOVEL_CONFIG" ] || exit 78; exec /usr/bin/fileshovel -c "$FILESHOVEL_CONFIG" $ARGS'
CapabilityBoundingSet=
NoNewPrivileges=true
ProtectSystem=strict
Restart=on-failure
RestartSec=1min
RestartPreventExitStatus=78

[Install]
WantedBy=multi-user.target
